body {
  background-color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

ul,
li {
  line-height: 20px;
  list-style-type: square;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px;
}

img {
  border-radius: 50%;
  margin-right: 50px;
}

.personal-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

table {
  text-align: center;
}

table,
tr,
th,
td {
  border: 1px solid black;
  padding: 5px;
}

th {
  font-weight: bold;
  text-align: center;
}
